*{
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
}

.header{
    height: 760px;
    width: 100%;
    background-image: linear-gradient(rgba(55,60,68,0.5),rgba(55,60,68,0.8)),url(images/sun-twilight-air-blue-background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
    

}   
.nav-achtergrond{
    display: flex;
    padding: 0.2% 3%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(42,43,43,0.5);
    backdrop-filter: blur(20px);
    margin-bottom: 30px;
    
    

}
nav img{
    width: 160px;
    margin-left: 50px;
    height: 55px;
    

}
.nav-links{
    flex: 1;
    text-align: center;
    padding-left: 30px;
    padding-top: 2%;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgba(244,245,245,255);
    text-decoration: none;
    font-size: 25px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(205,22,79,255);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}

nav .opTele,.sluitTele{
    display: none;
}
.rechtsboven{
    margin-top: 0px;
}

.text-box{
    color: #FFFFFF;
    font-size: large;
    padding-top: 30%;
}
.knop{
    display: inline-block;
    text-decoration: none;
    color: rgba(244,245,245,255);
    border: 1px solid rgba(244,245,245,255);
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.knop:hover{
    border: 1px solid rgba(205,22,79,255);
    background-color: rgba(205,22,79,255);
    transition: 1s;
    color: rgba(244,245,245,255);

}
@media(max-width:1000px){
   .footer-col svg{
    display:none;
   }
}
@media(max-width: 767px){
    .text-box h1{
        font-size: 32px;
        font-weight: 300;
    }
    .text-box p{
        font-size: 25px;
        color: #FFFFFF;
        font-weight: 100;
        font-family: 'Teko', sans-serif;
    }

    .text-box{
        text-align: center;
    }
    .form-outer{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .nav-achtergrond{
        all: unset;
    }
   
    
    /*moet weg*/

    .rechtsboven{
        display: none;
    }
    /*moet weg*/
    
    .nav-links ul li{
        display: block;
        text-align: center;
    }
    .nav-links ul li a{
        font-size: 28px;
        color:#FFFFFF;
        font: bold;
        text-decoration: none;
    }

    .nav-links{
        position: fixed;
        background: rgba(205, 22, 80, 0.432);
        inset: 0 0 0 0%;
        padding: min(20vh,8rem) 2rem;
        backdrop-filter: blur(1rem);
        z-index: 1000;
        transition: 850ms ease-out;
        transform: translateX(100%);
         
    }  
    .nav-links[data-visible="true"]{
        transform: translateX(0%);  
    }
    .opTele[aria-expanded="true"]{
        background: url('https://api.iconify.design/line-md/menu-to-close-alt-transition.svg?color=white') no-repeat center center / contain;
        position: fixed;
    }
    
    nav .opTele{
        display: block;
        position: absolute;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999; 
        border: 0;
        background: url('https://api.iconify.design/charm/menu-hamburger.svg?color=white') no-repeat center center / contain;
    }
  
    .nav-links ul{
        padding: 2em;
    }
    a:hover,a:focus,a:active,a:visited,a:link{
        text-decoration: none;
    }
    
    .rij{
        flex-direction: column;
    }
    .TitelMain h1{
        font-size: 70px ;
    }
    .onsImg{
        display: none;
        
    }
   
    .col-lg-6 h3{
        font-size: 30px;
    }
    .col-lg-6 .wcu-text-box-desc p{
        font-size: 20px;
    }
    
    

    html, body{
        max-width: 100%;
        overflow-x: hidden;
    }
    .aanvraag h1{
        font-size: 24px;
    }
    .footer .info{
        flex-direction: column;
        height: 210px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
    }
    
    .huis,.tel,.email{
        text-align: center;
    }
    .header {
        height: 1200px;
    }
    .homepage{
        margin-top: 20px;

       
    }
   

   
    
    .rijen,.footer-col{
        display: none;
    }
    .footer-col1{
        padding-left: 10%;
    }
    .info .footer-huis,.info .huis,.info .footer-icon,.info .email{
        align-items: center;
        text-align: center;
        margin: auto;
    }
    

    
    
    
}

/* Over ons */

.TitelOns{
    
    text-align: left;
    padding-top: 80px;
}

.TitelMain{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    
}

/*waarom voor ons kiezen*/
#waaromOns{
    padding-top: 30px;
    padding-bottom: 50px;
}
.waaromOns{
    background: linear-gradient(rgba(59, 61, 63, 0.6),rgba(88, 113, 157, 0.6)),url(images/Torch-Down-Roof02.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
   

}
#waaromOns .row{
    padding-top: 10px;
}
.TitelMain{
    color: #FFFFFF;
}
.wcu-text-box{
    padding: 25px;
    margin-bottom: 30px;
    max-width: 100%;
    text-align: center;
    
}
.wcu-text-box-icon{
    font-size: 48px;
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #C9003A;
    border: 3px solid #FFFFFF;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    text-align: center;
    transition: 0.3s linear;
    
}
.wcu-text-box-icon svg{
    transform: rotate(-45deg);
    font-size: 40px;
    
}
.wcu-text-box-icon:hover{
    background:#C9003A;
    color: #FFFFFF;
}
.wcu-text-box-title{
    font-size: 180px;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
}
.wcu-text-box-desc p{
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

}
.wcu-text-box-yellow{
    overflow: hidden;
    color: #fff;

}
.wcu-text-box-yellow .wcu-text-box-icon, .wcu-text-box-yellow p,.wcu-text-box-yellow h3{
    color: #C9003A;
    
}

/*waarom voor ons kiezen*/

.Gespecialiseerd{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 180px;

}
.rij{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}


.speciaal-rij{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
}
.speciaal-rij img{
    width: 400px;
    height: 200px;
    object-fit: cover;
    float: left;
    display: block;

}
.onsImg{
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    
}
.layer:hover{
    background: rgba(205,22,79,0.7)
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: rgba(244,245,245,255);
    font-size: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}

.aanvraag{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(42,43,43,0.7),rgba(42,43,43,0.7)),url(images/huis.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.aanvraag h1{
    color: rgba(244,245,245,255);
    margin-bottom: 40px;
    padding: 0;
    font-size: 60px;
    font-weight: 600;

}

.footer{
    padding: 50px 0;
    background-color: rgba(42,43,43,255);
    height: 600px;
    
}
body{
    height: 100%;
    overflow-x: hidden;
}
.footer-onderaan{
    position: fixed;
    padding-bottom: 0px;
    position: relative;
    
    
}
.footer-onderaan p{
    color: rgba(244,245,245,255);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

.info{
    background-color: rgba(205,22,79,255);
    height: 80px;
    width: 100%;
    text-align: left;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-top: 100px;
    
  
}
.footer-icon{
    color: rgba(244,245,245,255);
    font-size: 24px;
    margin-left: 100px;
    
}
.img-footer{
    width: 160px;
    height: 55px;
}
.footer-huis{
    margin-left: 100px;
}

.tel,.email{
    color: rgba(244,245,245,255);
    margin-left: 10px;
    font-size: 26px;
    font-weight: 400;
    text-decoration: none;
}
.huis{
    margin-left: 10px;
    font-weight: 400;
    font-size: 26px;
    color: rgba(244,245,245,255);
}
.tel:hover,.email:hover{
    text-decoration: underline;
    color: #FFFFFF;
    
}


::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 21px;
   
}
.gratis{
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Teko', sans-serif;

}


.knoppen{
   
        background-color: #C9003A;
        box-shadow: 10px 10px 20px -10px #333333;
        border: none;
        height: 50px;
        width: 200px;
        font-size: 28px;
        font-weight:500;
        color: #FFFFFF;
        text-align: center;
        border-radius: 0px;
        margin-left: 47px;
        
       
}
    .knoppen:hover, .knoppen:focus{
       filter: brightness(0.8);
}
.address-card{
    font-size: 24px;
    margin-top: 7px;
    float: left;
    margin-left: 10px;
}
.tellie{
    font-size: 24px;
    margin-top: 12px;
    color: #FFFFFF;
    float: left;
    margin-left: 15px;
}
.knop-aanvraag{
    background: linear-gradient(90deg, #F9C80E, transparent)#F9C80E;
    margin-top: 20px;
    box-shadow: 0 10px 20px -18px #333333;
    border: none;
    height: 53px;
    width: 244px;
    font-size: 32px;
    font-weight:500;
    color: #FFFFFF;
    text-align: center;
    border-radius: 12px;
    margin-left: 47px;
    
   
    }
    
.knop-aanvraag:hover, .knop-aanvraag:focus{
    filter: brightness(0.8);
}
    .fa-chevron-circle-right{
        font-size: 18px;
        margin-left: 5px;
    }


.container1 {
    width: 336px;
    height: 578px;
    background-color: #C9003A;
    
    padding-top: 20px;
    box-shadow: 0 0 9px 2px #333333;
   
   
}
.form-input {
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
   
}
input ,textarea{
    outline: none;
    padding: 15px 20px 10px 50px;
    font-size: 50px;
    width: 270px;
    background-color: rgba(170,6,53,255);
    border: transparent;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    
}

.icon {
    position: absolute;
    left: 55px;
    top: 0;
    font-size: 24px;
    color: #FFFFFF;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif; 
}
.comment{
    position: absolute;
    left: 55px;
    top: -34px;
    font-size: 24px;
    color: #FFFFFF;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif; 
}
.area-omschrijving{
    resize: none;
}

.container ul{
    list-style: none;
}
.rijen{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 20%;
    padding: 0 20px;
    vertical-align: top;
      
    
}
.deze{
    margin-bottom: 30px;
    
}
.deze1{
    margin-bottom: 20px;
}
.footer ul li a{
    font-size: 22px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
    display: block;
    text-decoration: underline;
}
.footer ul li a:hover{
    filter: brightness(0.5);
}
.footer-over{
    font-size: 24px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
}

iframe{
   width: 300px;
   height: 150px;
}
